<body>
    <form (ngSubmit)="addToDo()">
      <title>To-Do List</title>
      <h1>To-Do List</h1>
      <p>A place to store your ToDo's</p>

      <label for="filter" class="form-label">Filter Tasks:</label>
      <input [(ngModel)]="filterText" name="filterText" type="text" class="form-control" placeholder="Type to filter tasks">
      <br>
    
      <ul>
        <li *ngFor="let todo of filteredTodos()">
          <div [ngClass]="{'Completed': todo.isComplete, 'Priority': todo.priority}">
            {{ todo.task }} ({{ todo.duration | number: '1.00' }} mins) {{ todo.priority }}
            <button mat-button class="Complete-Button" *ngIf="!todo.isComplete" (click)="completeTask(todo)">Complete</button>
            <button class="remove-Button" (click)="removeTask(todo)">X</button>
          </div>
        </li>
      </ul>
      <br>
    
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label class="form-label">Enter A New Task:</label>
          <input [(ngModel)]="newTask" name="newTask" type="text" class="form-control" required>
        </div>
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label class="form-label">How many hours do you estimate?</label>
            <input [(ngModel)]="newDuration" name="newDuration" type="number" class="form-control" required>
          </div>
        </div>
      </div>
      <label for="Priority" class="form-label">What is the Priority Level?</label>
      <div class="Priority">
        <input value="High-Level" type="radio" name="priority" [(ngModel)]="newPriority">
        <label>High Level</label>
        <input value="Normal-Level" type="radio" name="priority" [(ngModel)]="newPriority">
        <label>Normal Level</label>
        <input value="Low-Level" type="radio" name="priority" [(ngModel)]="newPriority">
        <label>Low Level</label>
      </div>
      <br>
      <div class="d-grid gap-1 col-11 mx-auto">
        <button mat-button class="Add-Button" type="submit">Add</button>
      </div>
    </form>
    </body>