@{
    ViewData["Title"] = "Home Page";
}

<h1>Movie Seach</h1>

<form asp-action="Search" method="post">
    <label>Search for a Movie:</label>
    <input type="text" name="movieName"
    <button type="submit" class="btn btn-primary">Submit</button>

</form>